# Ignore node_modules directory
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/
bower_components/

# TypeScript build files
*.tsbuildinfo

# Build output
dist/
build/

# Environment variables
.env
.env.test
.env.production

# MacOS Finder metadata
.DS_Store

# Windows thumbnail cache
Thumbs.db
ehthumbs.db

# VSCode settings
.vscode/

# Expo
.expo/
.expo-shared/
